.login-form {
    width: 340px;
    margin: 50px auto;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.input-group-addon .fa {
    font-size: 18px;
}

.login_success{
    color: green;
    border: 1px solid #02b502;
    background-color: greenyellow;
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
}

.login_error{
    color: #660000;
    border: 1px solid #660000;
    background-color: red;
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

.bottom-action {
    font-size: 14px;
}