.button {
    margin-right: 42%;
    margin-left: 42%;
}

.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.hover-table tr:hover td {
    background-color: darkkhaki;
}

table tr td:first-child {
    width: 40%;
}

table tr td:last-child {
    width: 60%;
}

.button {
    margin-right: 42%;
    margin-left: 42%;
}

.input_nostyle {
    border: none;
    background-color: unset;
}

.input_nostyle:focus {
    outline: 0;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.btn-edit {
    width: 20%;
    margin-top: 5px;
}

.btn-delete {
    width: 20%;
    margin-top: 5px;
    margin-right: 5px;
}

