<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8" content="text/html">
    <title>Add Counter</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="menu.html :: div"></div>

<div class="container">
    <form class="form-horizontal" role="form" action="/counter/add">
        <h2>Add Counter</h2>
        <label>
            <input type="hidden" name="propertyID" th:value="${propertyId}">
        </label>
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Name*</label>
            <div class="col-sm-9">
                <input type="text" id="name" placeholder="Name" class="form-control" name="name" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="unit" class="col-sm-3 control-label">Unit*</label>
            <div class="col-sm-9">
                <input type="text" id="unit" placeholder="Unit" class="form-control" name="unit" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="price" class="col-sm-3 control-label">Price*</label>
            <div class="col-sm-9">
                <input type="number" step="0.01" id="price" placeholder="Price" class="form-control" name="price">
            </div>
        </div>
        <div class="form-group">
            <label for="billingPeriod" class="col-sm-3 control-label">Billing Period*</label>
            <div class="col-sm-9">
                <input type="number" step="1" id="billingPeriod" placeholder="Billing Period" class="form-control" name="billingPeriod">
            </div>
        </div>
        <div class="form-group">
            <label for="firstBillingPeriod" class="col-sm-3 control-label">First Billing Period*</label>
            <div class="col-sm-9">
                <input type="text" id="firstBillingPeriod" placeholder="First Billing Period" class="form-control" name="firstBillingPeriod">
            </div>
        </div>
        <div class="form-group">
            <label for="initialState" class="col-sm-3 control-label">Initial State*</label>
            <div class="col-sm-9">
                <input type="number" step="0.01" id="initialState" placeholder="Initial State" class="form-control" name="initialState">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <span class="help-block">*Required fields</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form> <!-- /form -->
</div> <!-- ./container -->
</body>
</html>