<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8" content="text/html">
    <title>Counter Manager</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="menu.html :: div"></div>

<div class="container">
    <form class="row g-3 needs-validation" method="post" th:action="@{/property/add}" th:object="${property}"
          novalidate>

        <div class="col-md-4">
            <label for="name" class="form-label">Name</label>
            <input id="name" type="text" class="form-control" th:field="*{name}"/>
            <span class="small text-danger" th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}"></span>
        </div>


        <div class="col-md-4">
            <label for="street" class="form-label">Street</label>
            <input id="street" type="text" class="form-control" th:field="*{street}"/>
            <span class="small text-danger" th:if="${#fields.hasErrors('street')}"
                  th:errors="*{street}"></span>
        </div>

        <div class="col-md-2">
            <label for="houseNumber" class="form-label">House Number</label>
            <input id="houseNumber" type="text" class="form-control" th:field="*{houseNumber}"/>
            <span class="small text-danger" th:if="${#fields.hasErrors('houseNumber')}"
                  th:errors="*{houseNumber}"></span>
        </div>

        <div class="col-md-2">
            <label for="flatNumber" class="form-label">Flat Number</label>
            <input id="flatNumber" type="text" class="form-control" th:field="*{flatNumber}"/>
            <span class="small text-danger" th:if="${#fields.hasErrors('flatNumber')}"
                  th:errors="*{flatNumber}"></span>
        </div>

        <div class="col-md-6">
            <label for="city" class="form-label">City</label>
            <input id="city" type="text" class="form-control" th:field="*{city}"/>
            <span class="small text-danger" th:if="${#fields.hasErrors('city')}"
                  th:errors="*{city}"></span>
        </div>

        <div class="col-md-3">
            <label for="postalCode" class="form-label">Postal Code</label>
            <input id="postalCode" type="text" class="form-control" th:field="*{postalCode}" placeholder="XX-XXX"/>
            <span class="small text-danger" th:if="${#fields.hasErrors('postalCode')}"
                  th:errors="*{postalCode}"></span>
        </div>

        <div class="col-md-3">
            <label for="state" class="form-label">State</label>
            <input id="state" type="text" class="form-control" th:field="*{state}"/>
            <span class="small text-danger" th:if="${#fields.hasErrors('state')}"
                  th:errors="*{state}"></span>
        </div>

        <div class="col-6 mt-3">
            <button class="btn btn-primary" type="submit">Add property</button>
        </div>

        <div class="col-6 mt-3">
            <a class="btn btn-danger" th:href="@{/property}">Cancel</a>
        </div>
    </form>
</div>
</body>
</html>