<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8" content="text/html">
    <title>Counter Manager</title>
</head>
<body>
<form method="post" th:action="@{/property/add}" th:object="${property}">
    <a th:href="@{/property}">Cancel</a>

    <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
            Usuń wymienione błędy i spróbuj ponownie.
        </span>
    </div>

    <h3>Wypełnij aby dodać...</h3>
    <label>Name: </label>
    <input type="text" th:field="*{name}"/>
    <span class="validationError" th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"></span>
    <br/>

    <label>Street: </label>
    <input type="text" th:field="*{street}"/>
    <span class="validationError" th:if="${#fields.hasErrors('street')}"
          th:errors="*{street}"></span>
    <br/>

    <label>House Number: </label>
    <input type="text" th:field="*{houseNumber}"/>
    <span class="validationError" th:if="${#fields.hasErrors('houseNumber')}"
          th:errors="*{houseNumber}"></span>
    <br/>

    <label>Flat Number: </label>
    <input type="text" th:field="*{flatNumber}"/>
    <span class="validationError" th:if="${#fields.hasErrors('flatNumber')}"
          th:errors="*{flatNumber}"></span>
    <br/>

    <label>City: </label>
    <input type="text" th:field="*{city}"/>
    <span class="validationError" th:if="${#fields.hasErrors('city')}"
          th:errors="*{city}"></span>
    <br/>

    <label>Postal Code: </label>
    <input type="text" th:field="*{postalCode}"/>
    <span class="validationError" th:if="${#fields.hasErrors('postalCode')}"
          th:errors="*{postalCode}"></span>
    <br/>

    <input type="submit" value="Złóż zamówienie">

</form>


</body>
</html>