<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8" content="text/html">
    <title>Counters</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="menu.html :: div"></div>

<div class="container-lg">
    <form method="post" th:object="${counter}" th:action="@{/counter/update}">

        <div class="pb-3">
            <input class="input_nostyle width-100 text-center text-uppercase form-control-lg" th:value="${counter.name}" th:field="*{name}">
            <p class="text-center">counter</p>
        </div>

        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <td>Unit</td>
                <td>
                    <div class="width-100 height-100">
                        <input class="input_nostyle width-100" th:value="${counter.unit}" th:field="*{unit}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Price</td>
                <td>
                    <div class="width-100 height-100">
                        <input class="input_nostyle width-100" th:value="${counter.price}" th:field="*{price}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Initial State</td>
                <td>
                    <div class="width-100 height-100">
                        <input class="input_nostyle width-100" th:value="${counter.initialState}"
                               th:field="*{initialState}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Billing Period</td>
                <td>
                    <div class="width-100 height-100">
                        <input class="input_nostyle width-100" th:value="${counter.billingPeriod}"
                               th:field="*{billingPeriod}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>First Billing Period</td>
                <td>
                    <div class="width-100 height-100">
                        <input class="input_nostyle width-100" th:value="${counter.firstBillingPeriod}"
                               th:field="*{firstBillingPeriod}">
                    </div>
                </td>
            </tr>
        </table>

        <div class="f-left">
            <input type="hidden" th:value="${counter.counterId}" th:field="*{counterId}">
            <button type="submit" class="btn btn-success mb-3">Save</button>
        </div>
    </form>

    <div class="f-left">
        <form method="get" th:action="@{/meter_status/add}">
            <input type="hidden" name="counter-id" th:value="${counter.counterId}">
            <button type="submit" class="btn btn-success ml-3 mb-3">Add new status</button>
        </form>
    </div>

    <div class="f-left">
        <form method="get" th:action="${'/counter/delete/'+counter.counterId}">
            <button type="submit" class="btn btn-success ml-3 mb-3">Delete counter</button>
        </form>
    </div>

    <div style="clear: both">
        <span class="small text-danger" th:text="${errorMessage}"></span>
    </div>

    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>Data</th>
            <th>Stan licznika</th>
        </tr>

        <tr th:each="meterStatus : ${counter.meterStatutes}">
            <td class="px-0 py-0">
                <div class="px-2 py-2 width-100 height-100" th:text="${meterStatus.date}"></div>
            </td>
            <td class="px-0 py-0">
                <div style="padding: 0 10px">
                    <form method="post" th:action="${'/meter_status/update/'+meterStatus.meter_status_id}">
                        <input style="width: 55%" class="input_nostyle f-left btn-edit" type="number"
                               name="meterStatus" th:value="${meterStatus.status}" step="0.01"/>
                        <button class="btn btn-primary btn-sm f-right btn-edit">Edit</button>
                    </form>
                    <form method="get">
                        <a class="btn btn-danger btn-sm f-right btn-delete"
                           th:href="${'/meter_status/delete/'+meterStatus.meter_status_id}">Delete</a>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>