<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="error-background">
<div class="error-wrapper">
    <div class="title">404</div>
    <div class="medium-text">PAGE NOT FOUND</div>
    <div class="small-text">The page you are looking for was moved, removed, renamed or might never existed.</div>
    <a class="button" href="/property">Go to user panel</a>
</div>
</body>
</html>