<div class="bs-example" style="margin: 20px">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="/property" class="nav-item nav-link">Properties</a>
                <a href="#" class="nav-item nav-link">Counters</a>
                <a href="#" class="nav-item nav-link disabled" tabindex="-1">Analise</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a href="/user_logout" class="nav-item nav-link">Logout</a>
            </div>
        </div>
    </nav>
</div>