<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Property</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="menu.html :: div"></div>

<div class="container-lg">

    <form method="post" th:object="${property}" th:action="${'/property/update/'+property.propertyId}">

        <div class="pb-3">
            <input class="input_nostyle width-100 text-center text-uppercase form-control-lg" th:value="${property.name}" th:field="*{name}">
            <span class="small text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            <p class="text-center">property</p>
        </div>

        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <td>Street</td>
                <td>
                    <div class="width-100 height-100">
                        <input class="input_nostyle width-100" th:value="${property.street}" th:field="*{street}">
                        <span class="small text-danger" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>House Number</td>
                <td>
                    <div class="width-100 height-100">
                        <input class="input_nostyle width-100" th:value="${property.houseNumber}" th:field="*{houseNumber}">
                        <span class="small text-danger" th:if="${#fields.hasErrors('houseNumber')}" th:errors="*{houseNumber}"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Flat Number</td>
                <td>
                    <div class="width-100 height-100">
                        <input class="input_nostyle width-100" th:value="${property.flatNumber}" th:field="*{flatNumber}">
                        <span class="small text-danger" th:if="${#fields.hasErrors('flatNumber')}" th:errors="*{flatNumber}"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>City</td>
                <td>
                    <div class="width-100 height-100">
                        <input class="input_nostyle width-100" th:value="${property.city}" th:field="*{city}">
                        <span class="small text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Postal Coder</td>
                <td>
                    <div class="width-100 height-100">
                        <input class="input_nostyle width-100" th:value="${property.postalCode}" th:field="*{postalCode}">
                        <span class="small text-danger" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></span>
                    </div>
                </td>
            </tr>
        </table>

        <div class="f-left">
            <input type="hidden" th:value="${property.propertyId}" th:field="*{propertyId}">
            <input type="hidden" th:value="${property.state}" th:field="*{state}">
            <button type="submit" class="btn btn-success mb-3">Save</button>
        </div>
    </form>

    <div class="f-left">
        <form method="get" th:action="${'/counter/add/'+property.propertyId}">
            <button type="submit" class="btn btn-success ml-3 mb-3">Add counter</button>
        </form>
    </div>

    <table class="table table-striped table-bordered table-condensed hover-table">
        <tr>
            <th>Nazwa</th>
            <th>Stan licznika</th>
        </tr>
        <tr th:each="counter : ${counters}">
            <td class="px-0 py-0">
                <a class="text-decoration-none text-dark" th:href="${'/counter/view/'+counter.counterId}">
                    <div class="px-2 py-2 width-100 height-100" th:text="${counter.name}"></div>
                </a>
            </td>
            <td class="px-0 py-0">
                <a class="text-decoration-none text-dark" th:href="${'/counter/view/'+counter.counterId}">
                    <div class="px-2 py-2 width-100 height-100" th:text="${counter.initialState}"></div>
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>