<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <title>Sign up</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/1c2c2462bf.js" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/sign_up.css">

    <script>
        let state = false;
        let password = document.getElementById('password');
        let passwordStrength = document.getElementById('password-strenght');
        let lowerUpperCase = document.querySelector('.low-upper-case i');
        let number = document.querySelector('one-number i');
        let specialChar = document.querySelector('.one-special-char i');
        let eightChar = document.querySelector('.eight-character i');

        function myFunction(show) {
            show.classList.toggle('fa-eye-slash');
        }

        function toggle() {
            if (state) {
                password.setAttribute("type", "password");
                state = false;
            } else {
                password.setAttribute("type", "text");
                state = true;
            }
        }

        password.addEventListener('keyup', function () {
            let pass = password.value;
            checkStrenght(pass);
        });

        function checkStrenght(password) {
            let strenght = 0;

            if (password.match(/([a-z].*[A-Z])|([A-Z.*[a-z])/)) {
                strenght += 1;
                lowerUpperCase.classList.remove('fa-circle');
                lowerUpperCase.classList.add('fa-check');
            } else {
                lowerUpperCase.classList.remove('fa-check');
                lowerUpperCase.classList.add('fa-circle');
            }

            if(password.match(/([0-9])/)){
                strenght += 1;
                number.classList.remove('fa-circle');
                number.classList.add('fa-check');
            } else {
                number.classList.remove('fa-check');
                number.classList.add('fa-circle');
            }

            if (password.match(/([!@#$%^&*?_~])/)) {
                strenght += 1;
                specialChar.classList.remove('fa-circle');
                specialChar.classList.add('fa-check');
            } else {
                specialChar.classList.remove('fa-check');
                specialChar.classList.add('fa-circle');
            }

            if(password.length > 7){
                strenght += 1;
                eightChar.classList.remove('fa-circle');
                eightChar.classList.add('fa-check');
            } else {
                eightChar.classList.remove('fa-check');
                eightChar.classList.add('fa-circle');
            }

            if(strenght === 0){
                passwordStrength.style = 'width: 0%';
            } else if(strenght === 2){
                passwordStrength.classList.remove('progress-bar-warning');
                passwordStrength.classList.remove('progress-bar-success');
                passwordStrength.classList.add('progress-bar-danger');
                passwordStrength.style = 'width: 10%';
            } else if(strenght === 3){
                passwordStrength.classList.remove('progress-bar-success');
                passwordStrength.classList.remove('progress-bar-danger');
                passwordStrength.classList.add('progress-bar-warning');
                passwordStrength.style = 'width: 60%';
            } else if(strenght === 4){
                passwordStrength.classList.remove('progress-bar-danger');
                passwordStrength.classList.remove('progress-bar-warning');
                passwordStrength.classList.add('progress-bar-success');
                passwordStrength.style = 'width: 100%';
            }
        }
    </script>

    <!--    <script>-->
    <!--        function checkingTheCorrectnessOfData() {-->
    <!--            var password = document.forms['signUp']['password'].value;-->
    <!--            var repeat_password = document.forms['signUp']['repeat_password'].value;-->
    <!--            var email = document.forms['signUp']['email'].value;-->

    <!--            if(email === ""){-->
    <!--                alert("Fill in all fields.");-->
    <!--                return false;-->
    <!--            }-->

    <!--            if(password !== repeat_password){-->
    <!--                alert("Passwords are different from each other.");-->
    <!--                return false;-->
    <!--            } else if(password === ""){-->
    <!--                alert("Fill in all fields.");-->
    <!--                return false;-->
    <!--            }-->
    <!--        }-->
    <!--    </script>-->

</head>

<div class="container">
    <form class="form-horizontal" id="validateForm" name="signUp" action="/sign_up" method='POST'>
        <h1>Sign Up</h1>
        <fieldset>

            <!-- Email input -->
            <div class="form-group">
                <label class="col-md-12 control-label"> <!--for="textinput"-->
                    Email
                </label>
                <div class="col-md-12">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input id="email" name="email" type="email" autocomplete="off"
                           placeholder="Enter your email address" class="form-control input-md">
                </div>
            </div>

            <!-- Password input -->
            <div class="form-group">
                <label class="col-md-12 control-label"><!--for="passwordinput"-->
                    Password
                </label>
                <div class="col-md-12">
                    <input id="password" class="form-control input-md" name="password" type="password"
                           placeholder="Enter your password">
                    <span class="show-pass" onclick="toggle()">
                        <i class="far fa-eye" onclick="myFunction(this)"></i>
                    </span>
                </div>
            </div>

            <!-- Confirm Password input -->
            <div class="form-group">
                <label class="col-md-12 control-label">
                    Confirm Password
                </label>
                <div class="col-md-12">
                    <input id="confirm_password" name="confirm_password" type="password"
                           placeholder="Enter your email address" class="form-control input-md">
                    <span class="show-pass" onclick="toggle()">
                        <i class="far fa-eye" onclick="myFunction(this)"></i>
                    </span>
                </div>
            </div>

            <div id="popover-password">
                <p><span id="result"></span></p>
                <div class="progress">
                    <div id="password-strenght" class="progress-bar" role="progressbar" aria-valuenow="40"
                         aria-valuemin="0" aria-valuemax="100" style="width: 0">
                    </div>
                </div>
            </div>
            <ul class="list-unstyled">
                <li>
                    <span class="low-upper-case">
                        <i class="fas fa-circle" aria-hidden="true"></i>
                        &nbsp;Lowercase &amp;Uppercase
                    </span>
                </li>
                <li>
                    <span class="one-number">
                        <i class="fas fa-circle" aria-hidden="true"></i>
                        &nbsp;Number (0-9)
                    </span>
                </li>
                <li>
                    <span class="one-special-char">
                        <i class="fas fa-circle" aria-hidden="true"></i>
                        &nbsp;Special Character (!@#$%^&*)
                    </span>
                </li>
                <li>
                    <span class="eight-character">
                        <i class="fas fa-circle" aria-hidden="true"></i>
                        &nbsp;Atleast 8 character
                    </span>
                </li>
            </ul>

            <div class="form-group">
                <button name="submit" type="submit" class="btn login-btn btn-block">
                    Create Account
                </button>
            </div>
            <div class="ex-account text-center">
                <p>Already have an account? Sign in <a href="#">here</a></p>
            </div>
        </fieldset>
    </form>
</div>


<!--<div class="container" style="padding-top: 75px">-->
<!--    <div class="card bg-light">-->
<!--        <article class="card-body mx-auto" style="max-width: 400px;">-->
<!--            <h4 class="card-title mt-3 text-center">Create Account</h4>-->
<!--            <form name="signUp" action="/sign_up" method='POST' onsubmit="return checkingTheCorrectnessOfData()">-->
<!--                <div class="form-group input-group">-->
<!--                    <div class="input-group-prepend">-->
<!--                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>-->
<!--                    </div>-->
<!--                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
<!--                    <input name="email" class="form-control" placeholder="E-mail" type="text">-->
<!--                </div>-->
<!--                <div class="form-group input-group">-->
<!--                    <div class="input-group-prepend">-->
<!--                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>-->
<!--                    </div>-->
<!--                    <input class="form-control" placeholder="Create password" type="password" name="password">-->
<!--                </div>-->
<!--                <div class="form-group input-group">-->
<!--                    <div class="input-group-prepend">-->
<!--                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>-->
<!--                    </div>-->
<!--                    <input class="form-control" placeholder="Repeat password" type="password" name="repeat_password">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <button name="submit" type="submit" class="btn btn-primary btn-block">-->
<!--                        Create Account-->
<!--                    </button>-->
<!--                </div>-->
<!--                <p class="text-center">Do you have an account? <a href="/login">Log In</a></p>-->
<!--            </form>-->
<!--        </article>-->
<!--    </div>-->
<!--</div>-->
</html>