<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8" content="text/html">
    <title>User Panel</title>
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="menu.html :: div"></div>

<div>
    <a href="property/addPropertyPanel">Add another property</a>
</div>

<table class="table table-bordered">
    <thead>
    <tr >
        <td>Name</td>
        <td>Street</td>
        <td></td>
    </tr>
    </thead>
    <tbody th:each="property : ${properties}">
    <tr>
        <td th:text="${property.name}"></td>
        <td th:text="${property.street}"></td>
        <td><a th:href="${'/property/view/'+property.propertyId}">View</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>